<!DOCTYPE html>
<html lang="it">
<head>
  <title>Covid Trends Italia</title>

  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="libraries/plotly.min.js"></script>
  <script src="libraries/vue.js"></script>
  <script src="https://momentjs.com/downloads/moment.min.js"></script>
  <link rel="stylesheet" type="text/css" href="normalize.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>
<body>

  <div id="root">

    <div id="header">

        <div id="explainer">
          <p>Questo grafico rappresenta i <b><i>nuovi {{selectedData.toLowerCase()}}</i></b> di COVID-19 nell'ultima settimana vs. i <b><i>{{selectedData.toLowerCase()}} totali</i></b>. Quando visualizzata in questo modo, la crescita esponenziale incontrollata è rappresentata da una linea retta inclinata verso l'alto. <span v-if="isHidden"><a @click="toggleHide">Maggiori informazioni</a></span></p>

          <span v-if="!isHidden">

            <p>Per capire meglio come funziona il grafico, guarda il video creato da Minute Physics (in inglese).</p>
            <br>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/54XLXg4fYsc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <p><i><b>PS:</b> L'asse orizzontale non è il tempo</i>, bensì il numero totale di {{selectedData.toLowerCase()}}.</p>
            <a id="hide" @click="toggleHide">Hide</a>
          </span>
        </div>

        <div id="logowrapper">

          <h1><a href="https://www.zagomattia.it/covid">Covid Trends Italia</a></h1>

          <div v-if="!isHidden" id="logos">
            Sviluppato da: <br>
            <a href="https://aatishb.com/"><img src="logos/aatishb-bw.png" height="40"></img></a>
            <a href="https://www.youtube.com/user/minutephysics"><img src="logos/minutephysics-invert.png" height="40"></img></a>
            <br>
            Dati regioni italiane:<br>
            <a href="https://www.zagomattia.it"><img src="//www.zagomattia.it/images/Logo.png" height="40"></img></a>
          </div>

        </div>


    </div>

    <div id="content">

      <div id="left-column">

        <graph v-if="covidData.length > 0" :data="filteredCovidData" :dates="dates" :day.sync="day" :selected-data="selectedData" :scale="selectedScale" :resize="isHidden" @graph-mounted="graphMounted = true"></graph>

        <div id="nav">

          <div class="navelement">
            <img v-if="paused" @click="play" src="icons/play.svg" style="width: 3rem;">
            <img v-if="!paused" @click="play" src="icons/pause.svg" style="width: 3rem;">
          </div>

          <div class="navelement">
            <h2>{{minDay > 0 ? dates[day - 1] : dates[dates.length - 1] | formatDate }}</h2>
          </div>

          <div class="navelement" id="slidercontainer">
            <input v-if="dates.length > 7" type="range" :min="minDay > 0 ? minDay : dates.length" :max="dates.length" step="1" v-model="day" id="slider" @mousedown="pause"></input>
          </div>

          <div class="navelement">
            <select v-model="selectedScale" @mousedown="pause">
              <option v-for="s in scale" v-bind:value="s">
                {{ s }}
              </option>
            </select>
          </div>

        </div>


        <div id="footer">
          <p>
          Adattato per le regioni italiane da <a href="https://www.zagomattia.it">Mattia Zago</a> &middot; Dati a cura della <a href="https://github.com/pcm-dpc/COVID-19">Presidenza del Consiglio dei Ministri - Dipartimento della Protezione Civile</a> &middot; Tutti i diritti sono degli <a href="https://github.com/aatishb/covidtrends#credits">autori originali</a>
          </p>
          <p style="color: #6c757d !important;">
          Originally created by <a href="https://aatishb.com/">Aatish Bhatia</a> in collaboration with <a href="https://www.youtube.com/user/minutephysics">Minute Physics</a> &middot; Shortcuts: +/- for daily changes, space to play/pause &middot; <a href="https://github.com/aatishb/covidtrends#credits">Credits & Source</a> &middot; <a href="https://www.cdc.gov/coronavirus/2019-ncov/prepare/prevention.html">Stay safe!</a>
          </p>
        </div>

      </div>

      <div id="right-column">

        <div>
          <h2>Personalizza</h2>

          <select v-model="selectedData" @mousedown="pause">
            <option v-for="d in dataTypes" v-bind:value="d">
              {{ d }}
            </option>
          </select>

          <select v-model="selectedScale" @mousedown="pause">
            <option v-for="s in scale" v-bind:value="s">
              {{ s }}
            </option>
          </select>

        </div>

        <div id="countries">

          <h2>Regioni</h2>

          <p v-if="selectedData.toLowerCase() == 'confirmed cases'">Regioni con almeno {{minCasesInCountry}} casi confermati</p>
          <p v-else>Regioni con almeno {{minCasesInCountry}} decessi</p>

          <div id="buttonwrapper">
            <button @click="deselectAll">Deseleziona tutto</button>
            <button @click="selectAll">Seleziona tutto</button>
          </div>

          <ul style="padding-top: 0.5rem;">
            <li v-for="country in countries">
              <input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
              <label :for="country">{{country}}</label>
            </li>
          </ul>


        </div>

        <div>

          <div id="buttonwrapper">
            <button @click="createURL" @mousedown="pause">{{copied ? 'Link Copiato!' : 'Crea link pubblico'}}</button>
          </div>

        </div>


      </div>


    </div>



  </div>

  <!-- page code -->
  <script src="vue-definitions.js"></script>

</body>


<!-- Site Properties -->
<meta property="og:site_name" content="Mattia Zago - Cybersecurity Engineer" />
<meta property="og:locale" content="it_IT" />
<meta name="language" content="it" />
<meta name="copyright" content="© 2020 Mattia Zago" />

<!-- Page Name -->
<meta name="title" content="Mattia Zago - COVID19 Trends Italia" />
<meta itemprop="name" content="Mattia Zago - COVID19 Trends Italia">
<meta name="twitter:title" content="Mattia Zago - COVID19 Trends Italia">
<meta property="og:title" content="Mattia Zago - COVID19 Trends Italia" />
<meta name="subject" content="COVID19 Trends Italia">

<!-- Page Properties -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.zagomattia.it/covid/" />
<meta name="identifier-url" content="https://www.zagomattia.it/covid/" />

<!-- Keywords -->
<meta name="keywords" content="covid, coronavirus, sars-cov-2, trends, log" />

<!-- Page Description -->
<meta itemprop="description" content="Trend di crescita della pandemia di COVID-19 in Italia.">
<meta name="twitter:description" content="Trend di crescita della pandemia di COVID-19 in Italia.">
<meta property="og:description" content="Trend di crescita della pandemia di COVID-19 in Italia."
/>
<meta name="description" content="Trend di crescita della pandemia di COVID-19 in Italia."
/>
<meta name="abstract" content="Trend di crescita della pandemia di COVID-19 in Italia. Adattato dal lavoro di Aatish Bhatia e Minute Physics."
/>
<meta name="Classification" content="Trend di crescita della pandemia di COVID-19 in Italia. Adattato dal lavoro di Aatish Bhatia e Minute Physics.">

<!-- Authorship -->
<meta name="twitter:site" content="@MattiaZago">
<meta name="twitter:creator" content="@MattiaZago">
<meta name="author" content="Mattia Zago" />

<!-- Images -->
<meta itemprop="image" content="https://www.zagomattia.it/assets/img/logo.png">
<meta name="twitter:image:src" content="https://www.zagomattia.it/assets/img/logo_social_square.jpg">
<meta property="og:image" content="https://www.zagomattia.it/assets/img/logo_social_square.jpg" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />
<meta name="twitter:image:alt" content="Trend di crescita della pandemia di COVID-19 in Italia. Adattato dal lavoro di Aatish Bhatia e Minute Physics.">

<!-- JSON Authorship -->
<script type="application/ld+json"> 
  {
    "@context": "http://www.schema.org",
    "@type": "person",
    "name": "Mattia Zago",
    "jobTitle": "Engineer",
    "url": "https://www.zagomattia.it/covid/",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+39 340 818 7151",
      "contactType": "sales"
    }]
  }
</script>


</html>